.container, .pt-tabs {
  height: 100%;
}

.half-screen {
  height: 50%;
}

.hidden {
  height: 99%;
  width: 98%;
}

.filters {
  height: calc(100% - 30px);
}

#tabs {
  width: 100%;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.footer {
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: white;
}

tr.jr-mDatatable-row.jr.jr-mDatatable-rowOdd:hover,
tr.jr-mDatatable-row.jr.jr-mDatatable-rowEven:hover {
  background-color: orange;
  cursor: pointer;
}

div.pt-tabs .pt-tab-panel[aria-hidden="true"] {
  display: block;
  height: 0;
  overflow-y: hidden;
}

div.pt-tabs .pt-tab-list {
  background-color: white;
  border-style: solid;
  border-width: 0;
  border-top-width: .1em;
  border-bottom-width: .1em;
  border-color: #77B6EA;
  width: inherit;
}

div.pt-tabs .pt-tab-panel {
  margin-top: .6em;
  margin-bottom: .4em;
  width: 100%;
  position: absolute;
  top: 30px;
  bottom: 30px;
}

div.pt-tab-list .pt-tab {
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 0px;
  border-right-width: .1em;
  border-right-style: solid;
  border-right-color: #e2e2de;
  outline: 0;
}

div.pt-tab-list .pt-tab:hover {
  /* background-color: #E8EEF2; */
}
