.filtersContainer {
  /* min-width: 300px; */
  width: 300px;
  float: left;
  padding: .8em;
  margin-right: .4em;
  background-color: white;
  /* border-width: .1em;
  border-color: #77B6EA;
  border-style: solid; */
  height: 100%;
  overflow: scroll;
}

div.pt-button-group.pt-fill .pt-button {
  outline: 0;
}
