.inputContainer {
  width: 300px;
  float: left;
  padding: .8em;
  margin-right: 5px;
  background-color: white;
  /* border-width: .1em;
  border-color: #77B6EA;
  border-style: solid; */
  height: 100%;
  overflow: scroll;
}
