.dashboard {
  height: 100%;
  /* padding: .8em; */
  background-color: white;
  /* border-width: .1em;
  border-color: #77B6EA;
  border-style: solid; */
  overflow: scroll;
}

/* div.container .dashboard .dashboardCanvas
.content,
div.content .body,
div.dashletContent .content,
div.highcharts_parent_container .highcharts_container
{
  height: 90%;
} */

.dashboardCanvas {
  height: 100% !important;
}
